* {
  font-family: sans-serif;
}

#site-container {
  margin: auto;
  padding: 20px 50px;
  max-width: 500px;
}

.post-container h2 {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.post-container p {
  font-style: italic;
  margin-top: 3px;
}
