/*
 * SPDX-FileCopyrightText: 2022 Dominic Martinez <dom@dominicm.dev>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root {
  /* Taken from the Monokai Pro theme */
  --syntax-bg: #2d2a2e;
  --syntax-fg: #fcfcfa;
  --syntax-gray: #727072;
  --syntax-yellow: #ffd866;
  --syntax-violet: #ab9df2;
  --syntax-magenta: #ff6188;
  --syntax-blue: #78dce8;
  --syntax-green: #a9dc76;
}

footer {
  font-style: italic;
}

body > header {
  padding-bottom: 0;
}

.post h2,
.project h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.post p {
  font-style: italic;
  margin-top: 0.3rem;
}

#about h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#about p {
  margin: 0;
}

#collection-title {
  margin-bottom: 1rem;
}

/* Syntax Highlighting */

pre code,
pre code * {
  font-family: monospace, monospace;
  color: var(--syntax-fg);
}

code.inline-code {
  background-color: var(--syntax-bg);
  color: var(--syntax-fg);
  border-radius: 3px;
  padding: 0px 3px;
}

pre {
  background-color: var(--syntax-bg);
  padding: 15px;
  border-radius: 5px;
}

.syntax-string,
.syntax-doc-comment {
  color: var(--syntax-yellow);
}

.syntax-keyword,
.syntax-special,
.syntax-attribute,
.syntax-operator {
  color: var(--syntax-magenta);
  font-weight: bold;
}

.syntax-constant {
  color: var(--syntax-violet);
}

.syntax-type {
  color: var(--syntax-blue);
}

.syntax-comment {
  color: var(--syntax-gray);
}

.syntax-function {
  color: var(--syntax-green);
}
