/*
 * SPDX-FileCopyrightText: 2022 Dominic Martinez <dom@dominicm.dev>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

* {
  font-family: sans-serif;
}

#site-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 20px;
  max-width: 500px;
  flex-grow: 1;
}

footer {
  color: #303030;
  font-style: italic;
}

.post-container h2 {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.post-container p {
  font-style: italic;
  margin-top: 3px;
}

h2 {
  margin: 10px 0 5px 0;
}

h3 {
  margin: 0;
}

p {
  margin: 5px 0 15px 0;
}

.project {
  margin-bottom: 10px;
}
