/*
 * SPDX-FileCopyrightText: 2022 Dominic Martinez <dom@dominicm.dev>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

:root {
  /* Use system default fonts */
  --sans-font: sans-serif;
  --mono-font: monospace;

  /* Taken from the Monokai Pro theme */
  --syntax-bg: #2d2a2e;
  --syntax-fg: #fcfcfa;
  --syntax-gray: #727072;
  --syntax-yellow: #ffd866;
  --syntax-violet: #ab9df2;
  --syntax-magenta: #ff6188;
  --syntax-blue: #78dce8;
  --syntax-green: #a9dc76;
}

/* Global styles */
a {
  text-underline-offset: 3px;
}

a:hover {
  text-decoration: wavy underline var(--accent);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/* Header */
body > header {
  background-color: inherit;
  border: none;
  grid-column: 2;
  padding: 0;
}

header > nav {
  display: flex;
  align-items: center;
}

nav:nth-child(2) {
  grid-column-start: 2;
}

nav > #home-link {
  justify-self: start;
  padding-left: 0;
  margin-left: 0;
}

nav > #home-link > img {
  width: 40px;
}

header > nav > a, header > nav > a:visited {
  border: none;
  font-size: 1.25rem;
  text-decoration: solid underline;
}

/* Home page */
#home h1 {
  margin-bottom: 10px;
}

#home .post-type-header {
  font-size: 2rem;
  margin-top: 2.5rem;
}

#home a {
  font-size: 1.4rem;
}

#home p, .collection p {
  margin-top: 0;
  margin-bottom: 5px;
}

#home-intro {
  font-size: 1.5rem;
  line-height: 1.1;
}

p.post-type-description {
  font-style: italic;
  color: var(--text-light);
  margin-bottom: 10px;
}

p.post-summary {
  color: var(--text-light);
}

.collection > .post-link {
  margin: 0;
  font-weight: normal;
}

.collection > .post-link > a {
  font-size: 1.5rem;
  text-decoration: none;
}

footer {
  font-style: italic;
}

#collection-title {
  margin-bottom: 1rem;
}

/* Syntax Highlighting */

pre code,
pre code * {
  font-family: monospace, monospace;
  color: var(--syntax-fg);
}

code.inline-code {
  background-color: var(--syntax-bg);
  color: var(--syntax-fg);
  border-radius: 3px;
  padding: 0px 3px;
}

pre {
  background-color: var(--syntax-bg);
  padding: 15px;
  border-radius: 5px;
}

.syntax-string,
.syntax-doc-comment {
  color: var(--syntax-yellow);
}

.syntax-keyword,
.syntax-special,
.syntax-attribute,
.syntax-operator {
  color: var(--syntax-magenta);
  font-weight: bold;
}

.syntax-constant {
  color: var(--syntax-violet);
}

.syntax-type {
  color: var(--syntax-blue);
}

.syntax-comment {
  color: var(--syntax-gray);
}

.syntax-function {
  color: var(--syntax-green);
}
